extends ../layouts/base

block content
    include ../common/retreiveAlertFromBE
    include ../common/convertDateToUTC7.pug

    #main-content.relative.w-full.h-full.overflow-y-auto.bg-gray-50.p-3.pt-5(class='lg:ml-64 dark:bg-gray-900')
      .p-4.bg-white.block.items-center.justify-between.border-b.border-gray-200(class='sm:flex lg:mt-1.5 dark:bg-gray-800 dark:border-gray-700')
        .w-full.mb-1
          .mb-4
            nav.flex.mb-5(aria-label='Breadcrumb')
              ol.inline-flex.items-center.space-x-1.text-sm.font-medium(class='md:space-x-2')
                li.inline-flex.items-center
                  a.inline-flex.items-center.text-gray-700(href='#', class='hover:text-primary-600 dark:text-gray-300 dark:hover:text-white')
                    svg.w-5.h-5(class='mr-2.5', fill='currentColor', viewBox='0 0 20 20', xmlns='http://www.w3.org/2000/svg')
                      path(d='M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z')
                                                  Home
                li
                  .flex.items-center
                    svg.w-6.h-6.text-gray-400(fill='currentColor', viewBox='0 0 20 20', xmlns='http://www.w3.org/2000/svg')
                      path(fill-rule='evenodd', d='M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z', clip-rule='evenodd')
                    a.ml-1.text-gray-700(href='#', class='hover:text-primary-600 md:ml-2 dark:text-gray-300 dark:hover:text-white') E-commerce
                li
                  .flex.items-center
                    svg.w-6.h-6.text-gray-400(fill='currentColor', viewBox='0 0 20 20', xmlns='http://www.w3.org/2000/svg')
                      path(fill-rule='evenodd', d='M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z', clip-rule='evenodd')
                    span.ml-1.text-gray-400(class='md:ml-2 dark:text-gray-500', aria-current='page') Products
            h1.text-xl.font-semibold.text-gray-900(class='sm:text-2xl dark:text-white') Notebooks
          .items-center.justify-between.block(class='sm:flex md:divide-x md:divide-gray-100 dark:divide-gray-700')
            .flex.items-center.mb-4(class='sm:mb-0')
              form(class='sm:pr-3', action='#', method='GET')
                label.sr-only(for='products-search') Search
                .relative.w-48.mt-1(class='sm:w-64 xl:w-96')
                  input#products-search.bg-gray-50.border.border-gray-300.text-gray-900.rounded-lg.block.w-full(type='text', name='email', class='sm:text-sm focus:ring-primary-500 focus:border-primary-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500', placeholder='Search for products')
              .flex.items-center.w-full(class='sm:justify-end')
                .flex.pl-2.space-x-1
                  a.inline-flex.justify-center.p-1.text-gray-500.rounded.cursor-pointer(href='#', class='hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white')
                    svg.w-6.h-6(fill='currentColor', viewBox='0 0 20 20', xmlns='http://www.w3.org/2000/svg')
                      path(fill-rule='evenodd', d='M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z', clip-rule='evenodd')
                  a.inline-flex.justify-center.p-1.text-gray-500.rounded.cursor-pointer(href='#', class='hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white')
                    svg.w-6.h-6(fill='currentColor', viewBox='0 0 20 20', xmlns='http://www.w3.org/2000/svg')
                      path(fill-rule='evenodd', d='M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z', clip-rule='evenodd')
                  a.inline-flex.justify-center.p-1.text-gray-500.rounded.cursor-pointer(href='#', class='hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white')
                    svg.w-6.h-6(fill='currentColor', viewBox='0 0 20 20', xmlns='http://www.w3.org/2000/svg')
                      path(fill-rule='evenodd', d='M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z', clip-rule='evenodd')
                  a.inline-flex.justify-center.p-1.text-gray-500.rounded.cursor-pointer(href='#', class='hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white')
                    svg.w-6.h-6(fill='currentColor', viewBox='0 0 20 20', xmlns='http://www.w3.org/2000/svg')
                      path(d='M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z')

      .flex.flex-col
        .overflow-x-auto
          .inline-block.min-w-full.align-middle
            .overflow-hidden.shadow
              table.min-w-full.divide-y.divide-gray-200.table-fixed(class='dark:divide-gray-600')
                thead.bg-gray-100(class='dark:bg-gray-700')
                  tr
                    th.p-4(scope='col')
                      .flex.items-center
                        input#checkbox-all.w-4.h-4.border-gray-300.rounded.bg-gray-50(aria-describedby='checkbox-1', type='checkbox', class='focus:ring-3 focus:ring-primary-300 dark:focus:ring-primary-600 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600')
                        label.sr-only(for='checkbox-all') checkbox
                    th.p-4.text-xs.font-medium.text-left.text-gray-500.uppercase(scope='col', class='dark:text-gray-400')
                      | Title
                    th.p-4.text-xs.font-medium.text-left.text-gray-500.uppercase(scope='col', class='dark:text-gray-400')
                      | Description
                    th.p-4.text-xs.font-medium.text-left.text-gray-500.uppercase(scope='col', class='dark:text-gray-400')
                      | Updated At
                    th.p-4.text-xs.font-medium.text-left.text-gray-500.uppercase(scope='col', class='dark:text-gray-400')
                      | Actions
                tbody#tableContent.bg-white.divide-y.divide-gray-200(class='dark:bg-gray-800 dark:divide-gray-700')
                  tr(class='hover:bg-gray-100 dark:hover:bg-gray-700')
                    td.w-4.p-4
                      .flex.items-center
                        input#checkbox-194556.w-4.h-4.border-gray-300.rounded.bg-gray-50(aria-describedby='checkbox-1', type='checkbox', class='focus:ring-3 focus:ring-primary-300 dark:focus:ring-primary-600 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600')
                        label.sr-only(for='checkbox-194556') checkbox
                    td.p-4.text-sm.font-normal.text-gray-500.whitespace-nowrap(class='dark:text-gray-400')
                      .text-base.font-semibold.text-gray-900(class='dark:text-white')
                        | Education
                        | Dashboard
                      .text-sm.font-normal.text-gray-500(class='dark:text-gray-400')
                        | 11/27/2024 (created at)
                    td.p-4.text-base.font-medium.text-gray-900.whitespace-nowrap(class='dark:text-white')
                      | Start developing....
                    td.p-4.text-base.font-medium.text-gray-900.whitespace-nowrap(class='dark:text-white')
                      | 11/27/2024 (updated at)
                    td.p-4.space-x-2.whitespace-nowrap
                      button#updateProductButton.inline-flex.items-center.px-3.py-2.text-sm.font-medium.text-center.text-white.rounded-lg.bg-primary-700(type='button', aria-controls='drawer-update-product-default', class='hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800')
                        svg.w-4.h-4.mr-2(fill='currentColor', viewBox='0 0 20 20', xmlns='http://www.w3.org/2000/svg')
                          path(d='M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z')
                          path(fill-rule='evenodd', d='M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z', clip-rule='evenodd')
                        | Edit
                      button#deleteProductButton.inline-flex.items-center.px-3.py-2.text-sm.font-medium.text-center.text-white.bg-red-700.rounded-lg(type='button', aria-controls='drawer-delete-product-default', class='hover:bg-red-800 focus:ring-4 focus:ring-red-300 dark:focus:ring-red-900')
                        svg.w-4.h-4.mr-2(fill='currentColor', viewBox='0 0 20 20', xmlns='http://www.w3.org/2000/svg')
                          path(fill-rule='evenodd', d='M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z', clip-rule='evenodd')
                        | Delete

    //- Modal content
    div.hidden
      button#btn-openmodal.block.text-white.bg-blue-700.font-medium.rounded-lg.text-sm.px-5.text-center(data-modal-target='default-modal', data-modal-toggle='default-modal', class='hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800', type='button')
      | Toggle modal
    // Main modal
    #default-modal.hidden.overflow-y-auto.overflow-x-hidden.fixed.top-0.right-0.left-0.z-50.justify-center.items-center.w-full.max-h-full(tabindex='-1', aria-hidden='true', class='md:inset-0 h-[calc(100%-1rem)]')
      .relative.p-4.w-full.max-w-2xl.max-h-full
        // Modal content
        .relative.bg-white.rounded-lg.shadow.html-content(class='dark:bg-gray-700')
          // Modal header
          .flex.items-center.justify-between.p-4.border-b.rounded-t(class='md:p-5 dark:border-gray-600')
            h3#modal-title.text-xl.font-semibold.text-gray-900(class='dark:text-white')
              | Terms of Service
            button.text-gray-400.bg-transparent.rounded-lg.text-sm.w-8.h-8.ms-auto.inline-flex.justify-center.items-center(type='button', class='hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white', data-modal-hide='default-modal')
              svg.w-3.h-3(aria-hidden='true', xmlns='http://www.w3.org/2000/svg', fill='none', viewBox='0 0 14 14')
                path(stroke='currentColor', stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6')
              span.sr-only Close modal
          // Modal body
          div#spinner-modal.mt-5.mb-5.text-center(role='status')
            svg.inline.w-10.h-10.text-gray-200.animate-spin.fill-blue-600(aria-hidden='true', class='dark:text-gray-600', viewBox='0 0 100 101', fill='none', xmlns='http://www.w3.org/2000/svg')
              path(d='M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z', fill='currentColor')
              path(d='M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z', fill='currentFill')
            span.sr-only Loading...
          #modal-content.p-4.space-y-4(class='md:p-5')
            p.text-base.leading-relaxed.text-gray-500(class='dark:text-gray-400')
              | With less than a month to go before the European Union enacts new consumer privacy laws for its citizens, companies around the world are updating their terms of service agreements to comply.
            p.text-base.leading-relaxed.text-gray-500(class='dark:text-gray-400')
              | The European Union&rsquo;s General Data Protection Regulation (G.D.P.R.) goes into effect on May 25 and is meant to ensure a common set of data rights in the European Union. It requires organizations to notify users as soon as possible of high-risk data breaches that could personally affect them.
          // Modal footer
          .flex.items-center.p-4.border-t.border-gray-200.rounded-b(class='md:p-5 dark:border-gray-600')
            button#btnEditNote.text-white.bg-blue-700.font-medium.rounded-lg.text-sm.px-5.text-center(data-modal-hide='default-modal', type='button', class='hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800') Edit note
            button.px-5.ms-3.text-sm.font-medium.text-gray-900.bg-white.rounded-lg.border.border-gray-200(data-modal-hide='default-modal', type='button', class='py-2.5 focus:outline-none hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700') Close

    div.hidden
      button#btn-open-delete-modal.block.text-white.bg-blue-700.font-medium.rounded-lg.text-sm.px-5.text-center(data-modal-target='popup-modal', data-modal-toggle='popup-modal', class='hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800', type='button')
      | Toggle modal
    #popup-modal.hidden.overflow-y-auto.overflow-x-hidden.fixed.top-0.right-0.left-0.z-50.justify-center.items-center.w-full.max-h-full(tabindex='-1', class='md:inset-0 h-[calc(100%-1rem)]')
      .relative.p-4.w-full.max-w-md.max-h-full
        .relative.bg-white.rounded-lg.shadow(class='dark:bg-gray-700')
          button.absolute.top-3.text-gray-400.bg-transparent.rounded-lg.text-sm.w-8.h-8.ms-auto.inline-flex.justify-center.items-center(type='button', class='end-2.5 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white', data-modal-hide='popup-modal')
            svg.w-3.h-3(aria-hidden='true', xmlns='http://www.w3.org/2000/svg', fill='none', viewBox='0 0 14 14')
              path(stroke='currentColor', stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6')
            span.sr-only Close modal
          .p-4.text-center(class='md:p-5')
            svg.mx-auto.mb-4.text-gray-400.w-12.h-12(class='dark:text-gray-200', aria-hidden='true', xmlns='http://www.w3.org/2000/svg', fill='none', viewBox='0 0 20 20')
              path(stroke='currentColor', stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z')
            h3.mb-5.text-lg.font-normal.text-gray-500(class='dark:text-gray-400') Are you sure you want to delete this note?
            button#confirmDeleteBtn.text-white.bg-red-600.font-medium.rounded-lg.text-sm.inline-flex.items-center.px-5.text-center(data-modal-hide='popup-modal', type='button', class='hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 py-2.5')
              | Yes, I&apos;m sure
            button.px-5.ms-3.text-sm.font-medium.text-gray-900.bg-white.rounded-lg.border.border-gray-200(data-modal-hide='popup-modal', type='button', class='py-2.5 focus:outline-none hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700') No, cancel

    script.
      const notesID = !{JSON.stringify(notesID)}
      const arrayImages = !{JSON.stringify(arrayImages)};
      const titles = !{JSON.stringify(titles)};
      const descs = !{JSON.stringify(descs)};
      const updatedAt = !{JSON.stringify(updatedAt)};
      const createdAt = !{JSON.stringify(createdAt)};
    script(src='/js/notes/table.note.js')
